# API Key segreta Google AI Studio
.gemini_key

# File ZIP di backup e cartella test
file_di_test_cloud_backup.zip
file_di_test/

# File temporanei Python
__pycache__/
*.pyc
*.pyo
*.swp

# Virtual environments
venv/
env/
